node_modules
.env


//eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI0ZWNkYTg2Ny05OWU1LTRlYWUtYjE2ZS00M2NlOWFiZjkzN2UiLCJpYXQiOjE3NjgyMjY2MjUsImV4cCI6MTc2ODgzMTQyNX0._dvO_Y2yeXOA6uKwFafKpwOJWHPbu1nanNfvw0IoDQI